<div class="row">
  <div class='col-sm-3'></div>
  <div class='col-12 col-sm-6'>

    <h1>Card Topup</h1>


    <form action="" method="POST" id="payment-form" (submit)="getToken()">
      <span class="text-center text-{{msgClass}}">{{message}}</span>
      <hr/>
      <div class="form-group text-center">
        <input [(ngModel)]="amount" name="amount" type="number" class='form-control form-control-lg' data-stripe="amount" placeholder="0000">
        <p>
          <small>Enter amount to transfer</small>
        </p>
      </div>
      <hr/>

      <h5>Payment Details</h5>

      <div class="form-group">
        <label for='card-number'>Card Number</label>
        <input [(ngModel)]="cardNumber" name="card-number" type="text" class='form-control' data-stripe="number" placeholder="XXXXXXXXXXXXXXXX">
      </div>

      <div class="form-group">
        <label for='expiry-month'>Expiration (MM/YY)</label>
        <input [(ngModel)]="expiry" name="expiry-month" type="text" class='form-control' data-stripe="exp_month" placeholder="MM/YY"
          pattern="[1-12]/[1-30]">
      </div>

      <div class="form-group">
        <label for='expiry-month'>CVC</label>
        <input [(ngModel)]="cvc" name="cvc" type="text" class='form-control' data-stripe="cvc" placeholder="xxx">
      </div>

      <input type="submit" class='btn btn-primary' value="Submit">
    </form>
  </div>
</div>