<div class='row'>
  <div class='col-md-2 col-sm-1'>

  </div>
  <div class='col-md-8 col-sm-10'>
    <h2>My Account</h2>
  </div>
</div>
<div class='row' *ngIf='original'>
  <div class='col-md-2 col-sm-1'>

  </div>
  <div class='col-md-8 col-sm-10'>
    <form [formGroup]="userDetails" (ngSubmit)="submitChanges()" class="form">

      <button type="button" class='btn btn-outline-primary' *ngIf='!editMode' (click)='toggleEdit()'>Edit</button>
      <button type="submit" class='btn btn-outline-primary' [disabled]="(!userDetails.valid) || disabled" *ngIf='editMode'>Submit Changes</button>
      <button type="button" class='btn btn-outline-danger' [disabled]="saving" *ngIf='editMode' (click)='toggleEdit()'>Cancel</button>
      <p class='text-{{msgClass}}'>{{message}}</p>
      <div class='form-group'>
        <label for='title'>Title</label>
        <input formControlName="title" type="text" class="form-control" id="title" [readonly]="read_only">
      </div>
      <div class='form-group'>
        <label for='first_name'>First Name</label>
        <input formControlName="first_name" type="text" class="form-control" id="first_name" [readonly]="read_only">
      </div>
      <div class='form-group'>
        <label for='last_name'>Last Name</label>
        <input formControlName="last_name" type="text" class="form-control" id="last_name" [readonly]="read_only">
      </div>
      <div class='form-group'>
        <label for='preferred_name'>Preferred Name</label>
        <input formControlName="preferred_name" type="text" class="form-control" id="preferred_name" [readonly]="read_only">
      </div>
      <div class='form-group'>
        <label for='mobile_country_code'>Mobile Country Code</label>
        <input formControlName="mobile_country_code" type="text" class="form-control" id="mobile_country_code" [readonly]="true">
      </div>
      <div class='form-group'>
        <label for='mobile'>Mobile Number</label>
        <input formControlName="mobile" type="text" class="form-control" id="mobile" [readonly]="true">
      </div>
      <div class='form-group'>
        <label for='device_signature'>Device Signature</label>
        <input formControlName="device_signature" type="text" class="form-control" id="device_signature" [readonly]="read_only">
      </div>
      <div class='form-group'>
        <label for='email'>Email Address</label>
        <input formControlName="email" type="text" class="form-control" id="email" [readonly]="read_only">
      </div>
    </form>
  </div>
</div>