<div class="row">
  <div class='col-sm-3'></div>
  <div class='col-12 col-sm-6'>

    <h1>Cash Topup</h1>


    <form action="" method="POST" id="payment-form" (submit)="getToken()">
      <span class="text-center text-{{msgClass}}">{{message}}</span>
      <hr/>
      <div class="form-group text-center">
        <input [(ngModel)]="amount" name="amount" type="number" class='form-control form-control-lg' data-stripe="amount" placeholder="0000">
        <p>
          <small>Enter amount to transfer</small>
        </p>
      </div>
      <hr/>

      <input type="submit" class='btn btn-primary' value="Submit" [disabled]='saving'>
    </form>
  </div>
</div>