<div class='row'>
  <div class='col-md-2 col-sm-1'>

  </div>
  <div class='col-md-8 col-sm-10'>
    <h2>Dashboard</h2>
  </div>
</div>
<div class='row' *ngIf='!data || !data.status=="success"'>
  <div class='col-12 text-center'>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only text-center">Loading...</span>
  </div>
</div>
<div class='row' *ngIf='data && data.status=="success"'>
  <div class='col-md-3 col-sm-2'>

  </div>
  <div class='col-md-4 col-sm-5'>
    <div class='form-group'>
      <p>
        <b>Name: </b>
      </p>
      <p>{{data.user.name.first}} {{data.user.name.middle}} {{data.user.name.last}} ({{data.user.name.preferred}})</p>
    </div>
    <div class='form-group'>
      <p>
        <b>Email: </b>
      </p>
      <p>{{data.user.email}}</p>
    </div>
    <div class='form-group'>
      <p>
        <b>Mobile: </b>
      </p>
      <p>+{{data.user.mobile.country_code}}{{data.user.mobile.number}}</p>
    </div>
  </div>
  <div class='col-md-4 col-sm-5'>
    <h3>My Wallet</h3>
    <hr/>
    <h2 class='text-center'>{{data.wallet.funds.available.amount}}
      <small>{{data.wallet.funds.available.currency}}</small>
    </h2>
    <hr/>
    <p>Date Issued: {{data.wallet.date.issued}}</p>
    <p>Date of Expiration: {{data.wallet.date.expiry}}</p>
  </div>
</div>