<nav class="navbar navbar-toggleable navbar-inverse bg-inverse sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">UNOSOFT</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='dashboard'>Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='account'>My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='cash'>Cash Topup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='card'>Card Topup</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a (click)='logout()'>
        Logout
        <span class='fa fa-sign-out fa-lg'></span>
      </a>
    </span>
  </div>
</nav>