<div class='container'>
  <div class='row'>
    <div class='col-md-3 col-sm-2 col-sx-1'>

    </div>
    <div class='col-md-6 col-sm-8 col-sx-10'>
      <h1 class='text-center'>REGISTER</h1>
      <p>
        <small> I have an account.
          <a routerLink='../login'>Login.</a>
        </small>
      </p>
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
        <div class='form-group'>
          <label for='firstname'>First Name</label>
          <input formControlName="first_name" type="text" class="form-control" id="first_name" placeholder="First Name" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='lastname'>Last Name</label>
          <input formControlName="last_name" type="text" class="form-control" id="last_name" placeholder="Last Name" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='username'>Preferred Name</label>
          <input formControlName="preferred_name" type="text" class="form-control" id="preferred_name" placeholder="Preferred Name"
            [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='mobile_country'>Mobile Country Code</label>
          <input formControlName="mobile_country_code" type="text" class="form-control" id="mobile_country" placeholder="e.g. 63" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='mobile_country'>Mobile Number</label>
          <input formControlName="mobile" type="text" class="form-control" id="mobile" placeholder="9XXXXXXXXXX" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='password'>Device Signature</label>
          <input formControlName="device_signature" type="text" class="form-control" id="password" placeholder="e.g. IOS 123" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='username'>Email Address</label>
          <input formControlName="email" type="text" class="form-control" id="email" placeholder="e.g. email@sample.com" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='password'>Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" [readonly]="readonly">
        </div>
        <div class='form-group'>
          <label for='confirmpassword'>Confirm Password</label>
          <input [(ngModel)]="confirmpassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="confirmpassword"
            placeholder="Confirm Password" (keyup)='passwordMatching(confirmpassword)' [readonly]="readonly">
        </div>
        <p class='text-{{passwordClass}}'>{{passwordMSG}}</p>
        <button type="submit" class='btn btn-block btn-primary' [disabled]="(!registerForm.valid) || disabled">Register</button>
      </form>
    </div>
    <div class='col-md-3 col-sm-2 col-sx-1'>

    </div>
  </div>
</div>