<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-sm-3 col-sx-1'>

    </div>
    <div class='col-md-4 col-sm-6 col-sx-10'>
      <h1 class='text-center'>UNOSOFT</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class='form-group'>
          <input formControlName="email" type="text" class="form-control" id="email" placeholder="Username">
        </div>
        <div class='form-group'>
          <input formControlName="password" type="password" class="form-control" id="email" placeholder="Password">
        </div>
        <button type="submit" class='btn btn-block btn-primary' [disabled]="!loginForm.valid">login</button>
      </form>
      <p>
        <small> Not a member yet?
          <a routerLink='../register'>Register.</a>
        </small>
      </p>
    </div>
    <div class='col-md-4 col-sm-3 col-sx-1'>

    </div>
  </div>
</div>