/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

.btn, .form-control {
    border-radius: 0px;
}

button:disabled {
    opacity: 0.2 !important;
}
/* @import "~font-awesome/css/font-awesome.css"; */